############################
# Maven
############################
**/target/
*.log

############################
# Iceberg Warehouse
############################
warehouse/
iceberg-rest/warehouse/

############################
# Spark runtime
############################
eventlog/
spark-warehouse/
metastore_db/
derby.log

############################
# MinIO / S3 data
############################
data/

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IntelliJ
############################
.idea/
*.iml

############################
# VS Code
############################
.vscode/

############################
# Temp
############################
*.swp
*.tmp
